<header>
    <nav>
        <div class="mil-top-panel">
            <div class="container">
                <div class="mil-top-panel-content">
                    <a href="#." class="mil-logo">
                        <img src="img/logo.png" alt="aquarelle">
                    </a>
                    <div class="mil-menu-btn">
                        <span></span>
                    </div>
                    <div class="mil-mobile-menu">
                        <nav class="mil-menu">
                            <ul>
                                <li class="mil-current">
                                    <a href="#." data-i18n="home">首页</a>
                                    <ul>
                                        <li><a href="index.html" data-i18n="type_1">Type 1</a></li>
                                        <li><a href="home-2.html" data-i18n="type_2">Type 2</a></li>
                                        <li><a href="home-3.html" data-i18n="type_3">Type 3</a></li>
                                        <li><a href="home-4.html" data-i18n="type_4">Type 4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#." data-i18n="about">关于</a>
                                    <ul>
                                        <li><a href="about.html" data-i18n="about_us">关于我们</a></li>
                                        <li><a href="services.html" data-i18n="services">服务</a></li>
                                        <li><a href="service.html" data-i18n="single_service">单项服务</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#." data-i18n="services">服务</a>
                                    <ul>
                                        <li><a href="search.html" data-i18n="search_room">搜索房间</a></li>
                                        <li><a href="room-1.html" data-i18n="room_type_1">房型 1</a></li>
                                        <li><a href="room-2.html" data-i18n="room_type_2">房型 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html" data-i18n="contact_us">联系我们</a></li>
                                <li>
                                    <a href="#." data-i18n="social_media">社交媒体</a>
                                    <ul>
                                        <li><a href="blog.html" data-i18n="blog">博客</a></li>
                                        <li><a href="publication.html" data-i18n="publication">出版物</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <a href="#." class="mil-button mil-open-book-popup mil-top-panel-btn" data-i18n="book_now">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-bookmark">
                                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                            </svg>
                            <span>立即购买</span>
                        </a>
                        <a href="#." id="lang-toggle" class="mil-button mil-open-book-popup mil-top-panel-btn"
                            data-i18n="switch_language">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-globe">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="2" y1="12" x2="22" y2="12"></line>
                                <path d="M12 2a15.3 15.3 0 0 1 4 10.29A15.3 15.3 0 0 1 12 22"></path>
                            </svg>
                            <span>切换语言</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>